  
   .my-comments {
       text-align: center;
       color: #2d3d97;
       font-weight: 600;
   }
   .my-message {
    font-family: "Segoe UI", san-serif;
    font-size: 18px;
    color: #463a4d;
    }
   #game-header {
       font-family: "Segoe UI", san-serif;
       text-align: center;
       padding-top: 20px;
   }
   #current-category {
       font-style: italic;
       color: #3042a8;
   }
   .secret-word-box {
       padding: 15px;
       background-image: linear-gradient(to left, #83c3f8, #dbf0fa);
       margin-bottom: 10px;
   }
   .wrong-chars-box {
       padding: 15px;
       background-image: linear-gradient(to left, #f3db51, #ffffcb);
       margin-bottom: 10px;
   }
   .button-container {
       width: 100%;
       max-width: 300px;
   }
   .opClass {
       opacity:0.4;
   }
   #western-image {
       background-image: url("../images/desert2.jpg");
       background-color: #cccccc;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
   }
   .min {
       min-width: 42px;
       background-color: none;
   }
